@CHARSET "UTF-8";

#search{
	
	height:30px;
	font-size:24px;
	margin-top:5px;
	border:1px #a7d7f9 solid;
	
		
}


#search:focus{
	
	background-color: #eee;
	
	
}




#firstbutton{
	
	margin-top:25px;
	height:30px;
	width: 200px;
	font-size:20px;
	
}


#secbutton{
	
	margin-top:20px;
	width: 200px;
	
	
}






form{
	
	
	width:370px;
	margin:auto;
	background-color:#f6f6f6
	
	
}


h1 {
	
	text-decoration:underline;
	
	
	
}

div{
	
	border:1px #a7d7f9 solid;
	padding-top:25px;
	padding-bottom:25px;
	padding-left:10px;
	padding-right:10px;
	
	
}

